@using Model;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TCC</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/ckeditor/ckeditor.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Style", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TCC", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            
           
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (Request.IsAuthenticated)
                    {
                        if (ViewBag.Projetos != null)
                        {
                        <div class="btn-group" style="margin-top: 5px;">
                            @Html.ActionLink("Projetos", "Index", "Projetos", null, new { @class = "btn btn-primary" })
 
                            <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
                            <ul class="dropdown-menu">

                            @foreach (tb_projeto pro in ViewBag.Projetos as List<tb_projeto>)
                            {
                                <li>@Html.ActionLink(pro.titulo, "P", "Projetos",new { id = pro.id_projeto}, null  )</li>
                                <li class="divider"></li>
                            }
                             
                            </ul>
                        </div>
                        }
                    }
                
                   
                   <!-- <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>-->
                    
                    
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Administrativo", "Index", "Admin")</li>
                    }

                   
                </ul>
                <ul class="nav navbar-nav">
                    <li>
                        <h4 style="color:#FFFFFF">@ViewBag.Informacao</h4>
                    </li>
                </ul>


                @Html.Partial("_LoginPartial")

            </div>
           
        </div>
       
        <div style="background-color: #4582ec;  height: 4px;">

        </div>
    </div>
    <div class="container body-content">
        
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TCC</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
   
    @RenderSection("scripts", required: false)
</body>
</html>
