@model Model.tb_atividade
@using Model;
 <!-- Modal content-->
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> @Model.titulo</h4>
    </div>
    <div class="modal-body">
        <p>@Model.descricao</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" onclick="">Salvar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    </div>
    <div >
       
            <div class="titleBox">
                <label>@Model.tb_comentarioAtividade.Count Comentários</label>
            </div>
          
            <div class="actionBox">
                <ul class="commentList" id="lista_comentarios">

                    @foreach (tb_comentarioAtividade comentario in Model.tb_comentarioAtividade)
                    {
                        if ((bool)comentario.ativo)
                        {

                            var imgUrl = Url.Content("~/Content/images/profile/" + comentario.AspNetUser.UserName + ".png");
                            if (!File.Exists(Server.MapPath(imgUrl)))
                            {
                                imgUrl = Url.Content("~/Content/images/profile/noUser.png") + "?time=" + DateTime.Now.ToString();
                            }

                            <li>
                                <div class="commenterImage">                                 
                                   <img src="@imgUrl" height="30" width="30"/> 
                                </div>
                                <div class="commentText" >

                                    <div class="container-fluid" >
                                        <div class="row" >
                                            <div class="col-md-7">
                                                <a class="tooltips" href="@Url.Action("U", "Usuario",new { id = comentario.AspNetUser.UserName })">@comentario.AspNetUser.UserName</a>

                                            </div>
                                            <div class="col-md-4">
                                                <span class="date sub-text" title="@comentario.data_comentario" style="float:right">@textoDaData(comentario.data_comentario)</span>

                                            </div>
                                        </div>
                                            <div class="col-md-12" >
                                                <p class="" align="justify" style="padding-left:20px">@comentario.comentario</p>
                                            </div>
                                    </div>


                                </div>
                            </li>
                            <hr />
                        }
                    }

                </ul>
               
                        <textarea class="form-control" rows="5" id="textocomentario" placeholder="Adicione um comentário" style="max-width: 550px;"></textarea>
                        <button class="btn btn-default" id="enviar_comentario" onclick="enviarComentario()">Enviar</button>
               
            </div>

    </div>
</div>



@functions{
    public string textoDaData(DateTime data_acao)
    {
        TimeSpan diferenca = DateTime.Now - data_acao;

        if (diferenca.Days > 0)
        {
            return diferenca.Days + " dia" + (diferenca.Days == 1 ? "" : "s") + " atrás";
        }
        if (diferenca.Hours > 0)
            return diferenca.Hours + " hora" + (diferenca.Hours == 1 ? "" : "s") + " atrás";
        if (diferenca.Minutes > 0)
            return diferenca.Minutes + " minuto" + (diferenca.Minutes == 1 ? "" : "s") + " atrás";
        if (diferenca.Seconds > 0)
            return diferenca.Seconds + " segundo" + (diferenca.Seconds == 1 ? "" : "s") + " atrás";
        return string.Empty;
    }
}

