@model Model.tb_projeto

@{
    ViewBag.Title = "Novo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="container"  style="padding-top: 50px;">
        <div class="jumbotron">
            <h2>Novo Projeto</h2>
            <hr />
            <div class="row">
                <div class="col-md-6">
                
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.titulo, htmlAttributes: new { })
                        @Html.EditorFor(model => model.titulo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.titulo, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.descricao, htmlAttributes: new { })
                        @Html.EditorFor(model => model.descricao, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.descricao, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.data_inicio, htmlAttributes: new {id="data_ini"})
                        @Html.EditorFor(model => model.data_inicio, new { htmlAttributes = new { type = "date", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.data_inicio, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.data_fim, htmlAttributes: new { })
                        @Html.EditorFor(model => model.data_fim, new { htmlAttributes = new { type = "date", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.data_fim, "", new { @class = "text-danger" })

                    </div>

                  
                </div>


                <div class="col-md-6">

                    <h4>Participantes</h4>
                    <hr />

                    <div class="form-group">
                        <label class="control-label">Nome de usuário ou email:</label>
                       
                            <input id="txt_usuario" type="text" class="form-control" style="height: 40px;">
                        <label hidden id="mensagem_usuario" style="font-size: 12px" class="text-warning">Usuário não encontrado.</label>

                    </div>
                    <label class="control-label">Função no projeto:</label>
                    <div class="form-group">
                        @Html.DropDownList("ComboFuncoes", null, new { @class = "form-control", id = "cbb_funcao" })
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" type="button" onclick="getUsuario(true)">Adicionar membro</button>
                    </div>
                       <div id="tabela">

                       </div>
                    </div>
               
            </div>
            <div class="modal-footer">      
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Criar" class="btn btn-success" />
                </div>
            </div>
        </div>
     </div>

}

<div>
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
</div>


<script>

    document.ready(getUsuario(true));

    $('#txt_usuario').on({
        blur: function () { getUsuario(false) }
    });
    function getUsuario(adicionarNaLista) {
        $.ajax({
            url: '@Url.Action("BuscaUsuario", "Account")',
            type: 'GET',
            dataType: 'json',
            cache: false,
            data: { userEmail: document.getElementById("txt_usuario").value,
                idFuncao: $('#cbb_funcao').val(),
                add : adicionarNaLista
            },
            success: function (request) {
                if (request != null) {
                    $("#tabela").html("");
                    $("#tabela").html(request.responseText);
                    $('#mensagem_usuario').hide();
                }
                else
                    $('#mensagem_usuario').show();
            },
            error: function (request) {
                if (request != null) {
                    $("#tabela").html("");
                    $("#tabela").html(request.responseText);
                    $('#mensagem_usuario').hide();
                }
                else
                    $('#mensagem_usuario').show();
            }

        });
    }

</script>